<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout_user.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成员管理</title>
</head>

<body>
<section layout:fragment="content_user">
    <form th:action="@{/medicalHistory}" th:object="${medicalHistory}">
<!--        <input type="hidden" th:field="*{member.id}">-->
        <input type="hidden" name="memberId" th:value="${memberId}">
        <div class="bg-light mb-2 p-2 border rounded">
            <div class="navbar-expand-sm">
                <div class="form-inline mb-3">
                    <span><strong th:text="${memberName}+' 病史管理'"></strong></span>
                </div>

                <div class="navbar-collapse flex-sm-row-reverse">
                    <a class="btn btn-success btn-sm rounded text-light" href="../member_add_update.html" th:href="@{/medicalHistory/save}"><i class="fa fa-plus "></i> 添加</a>

                    <div class=" flex-grow-1 form-inline">
                        <span class=" btn btn-light" data-toggle="collapse" data-target="#search"><i class="fa fa-angle-double-down  mx-2 text-secondary"></i></span>
                        <input type="text" class="form-control rounded-pill mx-2 col-md-3" placeholder="搜索关键字" th:field="*{disease}">
                        <button type="submit" class="btn btn-secondary btn-sm rounded"><i class="fa fa-search "></i> 搜索</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="collapse border p-2 mb-2 bg-light" id="search">
<!--            <div class="form-inline" >-->
<!--                <label class="col-md-2">生病日期</label>-->
<!--                <input type="text" class="form-control" placeholder="请选择生病日期" th:field="*{illDate}" id="datetimepicker" readonly>-->
<!--                <label>前后</label>-->
<!--                <input type="text" class="form-control col-md-1" th:default="0">-->
<!--                <label>天</label>-->
<!--            </div>-->
            <div class="form-inline mt-1">
                <label class="col-md-2">生病地点</label>
                <select class="form-control" th:field="*{area.parentId}" onchange="showCities(this.value)">
                    <option value="-1">请选择</option>
                    <option th:each="province : ${provinces}" th:value="${province.id}"
                            th:text="${province.name}"></option>
                </select>
                <select class="form-control" th:field="*{area.id}" id="city">
                    <option value="-1">请选择</option>
                    <option th:each=" city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered text-center">
        <thead class="text-muted">
        <tr >
            <th class="table-col-order-no">序号</th>
            <th>生病日期</th>
            <th>生病地点</th>
            <th>疾病症状</th>
            <th class="table-col-operate">操作</th>
        </tr>
        </thead>
        <tbody class="bg-light ">
            <tr th:each="history:${medicalHistories}">
                <td th:text="${medicalHistories.indexOf(history)+1}">1</td>
                <td th:text="${#dates.format(history.illDate,'yyyy/m/d')}">生病日期</td>
                <td th:text="${history.area.name}">生病地点</td>
                <td th:text="${history.disease}">疾病症状</td>
                <td>
                    <a class="btn btn-success btn-sm rounded text-light" th:href="@{'/medicalHistory/save?id='+${history.id}}">修改</a>
                    <a class="btn btn-danger btn-sm rounded text-light" th:href="@{'/medicalHistory/delete?id='+${history.id}}" onclick="return confirm('您确定要删除此成员吗？')">删除</a>
                </td>
            </tr>
        </tbody>
    </table>

<!--    <div class="text-center">-->
<!--        <ul class="pagination pagination-sm pull-left">-->
<!--            &lt;!&ndash;首页&ndash;&gt;-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" th:href="@{'/memberManager?pageNum=0'}">首页</a>-->
<!--            </li>-->
<!--            &lt;!&ndash;上一页&ndash;&gt;-->
<!--            <li class="page-item" th:if="${members.hasPrevious()}">-->
<!--                <a class="page-link" th:href="@{'/memberManager?pageNum='+${members.previousPageable().getPageNumber()}}" th:text="上一页"></a>-->
<!--            </li>-->
<!--            &lt;!&ndash;中间页&ndash;&gt;-->
<!--            <li class="page-item" th:each="pageNum:${#numbers.sequence(0,members.getTotalPages()-1)}">-->
<!--                <a class="page-link" th:href="@{'memberManager?pageNum='+${pageNum}}" th:text="${pageNum+1}" th:if="${pageNum ne members.pageable.getPageNumber()}"></a>-->
<!--                <a class="page-link" th:href="@{'memberManager?pageNum='+${pageNum}}" th:text="${pageNum+1}" th:if="${pageNum eq members.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>-->
<!--            </li>-->
<!--            &lt;!&ndash;下一页&ndash;&gt;-->
<!--            <li class="page-item" th:if="${members.hasNext()}">-->
<!--                <a class="page-link" th:href="'/memberManager?pageNum=' + ${members.nextPageable().getPageNumber()}" th:text="下一页"></a>-->
<!--            </li>-->
<!--            &lt;!&ndash; 尾页 &ndash;&gt;-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" th:href="'/memberManager?pageNum=' + ${members.getTotalPages() - 1}">尾页</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</section>

</body>

</html>