<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加或修改病史信息</title>
</head>

<body>
<section layout:fragment="content">
    <form th:action="@{/medicalHistory/save}" th:object="${medicalHistory}"  method="post">
        <div class="bg-light mb-2 p-2 border rounded">
            <div class="form-inline search-info-bar">
                <a class="btn btn-light" href="../account/member_manager.html" th:href="@{'/medicalHistory?memberId='+${memberId}}"><i class="fa fa-angle-double-left"></i> 返回列表</a>
                <span class="pl-2"><strong>添加或修改病史信息</strong></span>
            </div>
        </div>
        <div class="border p-2 mb-2 bg-line-gradient-left">
            <input type="hidden" name="memberId" th:value="${memberId}">
            <input type="hidden" th:field="*{id}">
            <div class="form-inline">
                <label class="col-md-2">生病日期</label>
                <input class="col-md-2 form-control datetimepicker" th:field="*{illDate}" placeholder="请选择生病日期" readonly required>
                <span class="text-danger" th:if="${#fields.hasErrors('illDate')}" th:errors="*{illDate}"></span>
            </div>
            <div class="form-inline">
                <label class="col-md-2">生病地点</label>
                <select class="form-control" th:field="*{area.parentId}" onchange="showCities(this.value)">
                    <option value="-1">请选择</option>
                    <option th:each="province : ${provinces}" th:value="${province.id}"
                            th:text="${province.name}"></option>
                </select>
                <select class="form-control" th:field="*{area.id}" id="city">
                    <option value="-1">请选择</option>
                    <option th:each=" city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
                <span class="text-danger" th:if="${area_error}!=null" th:text="${area_error}"></span>
            </div>
            <div class="form-inline">
                <label class="col-md-2">疾病症状</label>
                <textarea class="form-control col-md-6" rows="5" th:field="*{disease}"/>
                <span class="text-danger" th:if="${#fields.hasErrors('disease')}" th:errors="*{disease}"></span>
            </div>

             <div class="form-inline mt-1">
                <label class="col-md-2"></label>
                <button class="btn btn-danger col-md-2" type="submit"><i class="fa fa-save"></i> 保存</button>
                <button class="btn btn-secondary" type="reset"><i class="fa fa-refresh"></i> 重置</button>
            </div>
        </div>
    </form>


</section>
<section layout:fragment="scripts">
<script type="text/javascript">

</script>
</section>

</body>

</html>