<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      class="h-100">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title></title>
        <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css"
              th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../../static/lib/fontawesome/css/font-awesome.min.css"
              th:href="@{/lib/fontawesome/css/font-awesome.min.css}">
        <link rel="stylesheet" href="../../static/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
              th:href="@{/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}">
        <link rel="stylesheet" href="../../static/css/site.css" th:href="@{/css/site.css}">
    </head>

    <body>
        <section layout:fragment="content">

        </section>

        <script src="../../static/lib/jquery/jquery-3.4.1.min.js" th:src="@{/lib/jquery/jquery-3.4.1.min.js}"></script>
        <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"
                th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
                th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
        <script src="lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="../../static/js/site.js" th:src="@{/js/site.js}"></script>

        <section layout:fragment="scripts">

        </section>
    </body>

</html>