<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout_user.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息管理</title>
</head>

<body>
<section layout:fragment="content_user">
    <form th:action="@{/account/saveUserInfo}" method="post" th:object="${userBasicInfo}">
        <div class="bg-light mb-2 p-2 border rounded">
            <div class="form-inline">
                <span class="pl-2"><strong>个人信息更新</strong></span>
            </div>
        </div>
        <div class="border p-2 mb-2 bg-line-gradient-left">
            <input type="hidden" th:field="*{id}">
            <div class="form-inline">
                <label class="col-md-2">用户名</label>
                <input class="col-md-3 form-control" th:field="*{username}" readonly/>
            </div>
            <div class="form-inline">
                <label class="col-md-2">真实姓名</label>
                <input class="col-md-2 form-control" th:field="*{realName}">
            </div>
            <div class="form-inline">
                <label class="col-md-2">性别</label>
                <select class="form-control" th:field="*{sex}">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
            <div class="form-inline">
                <label class="col-md-2">联系电话</label>
                <input class="col-md-2 form-control" th:field="*{phone}">
            </div>
            <div class="form-inline">
                <label class="col-md-2">所在地区</label>
                <select class="form-control" th:field="*{areaParentId}" onchange="showCities(this.value)">
                    <option value="-1">请选择</option>
                    <option th:each="province : ${provinces}" th:value="${province.id}"
                            th:text="${province.name}"></option>
                </select>
                <select class="form-control" th:field="*{areaId}" id="city">
                    <option value="-1">请选择</option>
                    <option th:each=" city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
            </div>
            <div class="form-inline">
                <label class="col-md-2">详细地址</label>
                <input class="col-md-5 form-control" th:field="*{detailAddress}"/>
            </div>
            <div class="form-inline mt-1">
                <label class="col-md-2"></label>
                <button class="btn btn-danger col-md-2" type="submit"><i class="fa fa-save"></i> 保存</button>
            </div>
        </div>
    </form>
</section>

</body>

</html>